<h2 class="align-content-end">Medecin : Khardiata Ndiaye</h2>
<h2 class="align-content-end">Date @DateTime.Now</h2>

<br/>

<p class="text-black text-capitalize align-content-center">Ordonnance</p>


<table class="table">
    <thead>
        <tr>
            <th>Nom Médicament</th>
            <th>Nombre de prise</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Test
            </td>
            <td>
                2 fois par jour
            </td>
        </tr>
        <tr>
            <td>
                Stérimar
            </td>
            <td>
                3 fois par jour
            </td>
        </tr>
    </tbody>
</table>

